.create-users-container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(44, 99, 218);
    border-radius: 5%;
    flex-direction: column;
    position: relative;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 25px 50px -12px rgba($color: #071172, $alpha: 0.5);
}

.display-users-container {
    border: 1px solid rgb(44, 99, 218);
    border-radius: 5%;
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 25px 50px -12px rgba($color: #071172, $alpha: 0.5);
    margin-top: 70px;
    margin-bottom: 70px;
}